# data (não versionar)
data/*
!data/README.md

# outputs (se quiser versionar resultados, remova esta linha)
# outputs/*

# notebooks checkpoints
.ipynb_checkpoints/

# Jupyter
.ipynb_checkpoints/

# Dados (não versionar)
data/*
!data/README.md

# Ambiente virtual
.venv/
venv/

# Arquivos locais
.DS_Store

outputs/*
!outputs/.gitkeep
